.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.titulo{
  font-size: 70px;
  color: rgb(223,0,134);
  text-shadow: -5px 4px 5px rgb(255,208,0);
}

.timer {
  font-size: 40px;
  color:#dfe4ea;
  text-shadow: -5px 4px 8px #000000, -3px 4px 8px #000000, -1px 4px 8px #000000, 2px 1px 12px #000000;
}

.timer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animation {
  z-index: -1;
}

@media(max-width:320px) {
  .container {
    background: rgb(255,176,233);
  }

  .titulo{
    font-size: 55px;
  }
  
  .timer {
    font-size: 30px;
  }

  .convite {
    max-height: 275px;
    max-width: 275px;
  }
}

@media(max-width:400px) {
  .container {
    background: rgb(255,176,233);
  }

  .titulo{
    font-size: 60px;
  }
  
  .timer {
    font-size: 35px;
  }

  .convite {
    max-height: 300px;
    max-width: 300px;
  }
}

@media(max-width:1024px) {
  .container {
    background: rgb(255,176,233);
  }
  
  .titulo{
    font-size: 70px;
  }
  
  .timer {
    font-size: 40px;
  }

  .convite {
    max-height: 250px;
    max-width: 250px;
  }
}
